body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color:#333;
    background-color: burlywood;
    margin: 0;
    padding: 0;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    line-height: 1;
    color: #333;
    margin-bottom: 10px;
}



h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}





button{
background-color: #07790b;
color: #fff;
padding: 10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
font-size: 16px;
font-weight: bold;
transition: background-color 0.3s ease-in-out;
}

button:hover{
    background-color: #3e8e41;
}



button:active{
    transform: scale(0.9);
}










table{
    width: 100%;
    border-collapse: collapse;
}


th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align: left;
    font-size: 20px
}

th{
    background-color: #f0f0f0;
    font-weight: bold;
}

td{
    font-weight: bold;
    background-color: yellowgreen;



}






































